*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/conventions/build/
/build-logic/conventions/build/classes/kotlin/main/
/core/network/httpClient/build/
/core/paginator/build/
/core/settings/build/
/core/system/connectivity/build/
/data/db/build/
/data/repository/pokemon/build/
/data/repository/type/build/
/data/source/pokemon/local/build/
/data/source/pokemon/remote/build/
/data/source/type/local/build/
/data/source/type/remote/build/
/domain/repository/pokemon/build/
/domain/repository/type/build/
/domain/result/build/
/domain/usecase/build/
/domain/usecase/pokemon/build/
/domain/usecase/type/build/
/presentation/core/component/build/
/presentation/feature/searchList/build/
/presentation/resources/build/